@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --shadow-brand:
    -82px 54px 27px 0px rgba(0, 0, 0, 0.1),
    -52px 35px 25px 0px rgba(0, 0, 0, 0.04),
    -29px 19px 21px 0px rgba(0, 0, 0, 0.15),
    -13px 9px 16px 0px rgba(0, 0, 0, 0.25),
    -3px 2px 9px 0px rgba(0, 0, 0, 0.29);
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --shadow-input:
    -0.5px 2px 3px -1px rgba(255, 255, 255, 0.1),
    -0.5px 1px 0px 0px rgba(255, 255, 255, 0.02),
    -0.5px 0px 0px 1px rgba(255, 255, 255, 0.08);
  --shadow-brand:
    0px 54px 27px 0px rgba(255,255,255, 0.01),
    -52px 35px 25px 0px rgba(255,255,255, 0.04),
    -29px 19px 21px 0px rgba(255,255,255, 0.15),
    -13px 9px 16px 0px rgba(255,255,255, 0.25),
    -3px 2px 9px 0px rgba(255,255,255, 0.29);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-display: var(--font-manrope);
  --shadow-input: var(--shadow-input);
  --shadow-brand: var(--shadow-brand);
}

/* Corrected media query */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}
